.container {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1200px;
  margin-inline: auto;
}

.input {
  display: flex;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.button {
  padding: 0;
  border: none;
  cursor: pointer;
}
