.button {
  width: 229px;
  height: 40px;
  background: #d9d9d9;
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background: #c7c7c7;
    color: rgba(0, 0, 0, 0.75);
  }
}
