apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: external-secrets
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - cluster: in-cluster
            url: https://kubernetes.default.svc
          - cluster: prod2-cluster
            url: https://94.228.123.177:6443
  template:
    metadata:
      name: external-secrets-{{cluster}}
      namespace: argocd
    spec:
      project: "{{cluster}}"
      source:
        repoURL: https://charts.external-secrets.io
        chart: external-secrets
        targetRevision: 0.9.11
        helm:
          values: |
            installCRDs: true
            replicaCount: 1
            resources:
              limits:
                cpu: 100m
                memory: 128Mi
              requests:
                cpu: 50m
                memory: 64Mi
      destination:
        server: "{{url}}"
        namespace: external-secrets-system
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
