apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
  annotations:
    argocd.argoproj.io/refresh-interval: "10s"
spec:
  project: default
  source:
    repoURL: https://github.com/nenertiy/react-shop.git
    path: manifests/vault
    targetRevision: HEAD
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: vault
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    ignoreDifferences:
      - group: apps
        kind: StatefulSet
        jsonPointers:
          - /spec/serviceName
          - /spec/podManagementPolicy
          - /spec/selector
          - /spec/volumeClaimTemplates
