.container {
  margin-top: 50px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  column-gap: 34px;
}

.link {
  color: black;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &_active {
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.65);
  }
}

.cart {
  align-items: center;
  text-align: center;
  display: flex;
  color: black;
  text-decoration: none;

  &_title {
    font-size: 12px;
    color: white;
    background: #000000;
    border-radius: 22px;
    padding: 19px 19px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }
}

.icon {
  height: 50px;
  width: 50px;
}

.circle {
  background: #000;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}
