.container {
  background: url("./assets/img/noisy_background.png") rgba(0, 0, 0, 0.041);
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  height: 80px;

  &_description {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #1e1e1eb0;
    margin: auto;
    padding-top: 60px;
  }
}
