@font-face {
  font-family: "Beatrice Regular";
  src: url(./assets/fonts/BeatriceDeckTRIAL-Regular-BF64829e8e41476.woff);
}

@font-face {
  font-family: "Beatrice Medium";
  src: url(./assets/fonts/BeatriceDeckTRIAL-Medium-BF64829e8e8d71a.woff);
}

@font-face {
  font-family: "Beatrice Bold";
  src: url(./assets/fonts/BeatriceDeckTRIAL-Bold-BF64829e8e9ca08.woff);
}

@font-face {
  font-family: "Beatrice Extrabold";
  src: url(./assets/fonts/BeatriceDeckTRIAL-Extrabold-BF64829e8ed31e6.woff);
}
:root {
  background: url("./assets/img/noisy_background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.app {
  font-family: "Beatrice Regular";
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}
